{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "node": true
    },
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "indent": ["error", 4],
        "max-len": [1, 70, 2, {"ignoreComments": true}],
        "no-unused-vars": [0],
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "no-param-reassign": 0,
        "react/jsx-indent": [1],
        "react/jsx-indent-props": [1],
        "react/prefer-stateless-function": [1],
        "react/prop-types": [1],
        "jsx-a11y/no-static-element-interactions": [1]
    },
    "globals": {
        "document": true
    },
    "class-methods-use-this": ["error", {
        "exceptMethods": [
            "render",
            "componentWillMount",
            "componentDidMount",
            "componentWillReceiveProps",
            "shouldComponentUpdate",
            "componentWillUpdate",
            "componentDidUpdate",
            "componentWillUnmount"
        ]
    }],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": false,
      "optionalDependencies": false,
      "peerDependencies": false
      }
    ]
}
