.intro-container {
    margin: 20px;

    p {
        color: #7b7a7a;
        font-family: "PingFang SC";

        &.ajax {
            margin: 20px 0px;
            font-size: 14px;
        }

        span {
            color: #c7254e;
            background-color: #f9f2f4;
            display: inline-block;
            padding: 2px 4px;
            border-radius: 3px;
        }
    }
}
